table {
	border-collapse: collapse;
	width: 100%;
}
tr:nth-child(even){
	background: #f2f2f2;
	color: black;
}
th{
	text-align:left;
	background: #4CAF50;
	color: white;
}
h1{
	color: red;
}
h2{
	color: olive;
}
a{
	color: green;
}